@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Just Another Hand", cursive;
    letter-spacing: .1rem;
}

.card-title {
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

code {
    font-size: 2rem;
}

footer p {
    font-size: 1.5rem;
}